/* CSS declarations go here */

@font-face {
font-family: SmackAttack;
src: url("smackattackbb_reg.otf") format("opentype");
}

@font-face {
font-family: SmackAttack;
font-weight: bold;
src: url("smackattackbb_bld.otf") format("opentype");
}

body {
	font-family: "SmackAttack", Georgie, Serif;
	background-color: #222;
}

#content {
	width: 840px;
	margin: 0 auto;
	display: block;
	float:none;
}

.panel {
	float:left;
	margin-right:10px;
	margin-bottom:5px;
	position: relative;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.header img {
	margin:0;
	padding:0;
}

.header {
	width:800px;
	margin: 0 auto;
}

.bubble {
	position: absolute;
}

.bubble p {
	position: absolute;
	left:0;
	top:0;
	text-align:center;
	margin-top: 15px;
	font-size: 10pt;
	color:#000;
}

.three {
	margin-left: 110px;
}

.two {
	margin-left: 220px;
}

.one {
	margin-left: 330px;
}

.stats {
	text-align: center;
	color:#eee;
}

#footer {
	display:block;
	clear:both;
	font-family:Verdana, sans-serif;
	font-size:12px;
	color:#bbb;
	text-align: center;
	width:800px;
	padding-top:100px;
	margin:20px auto;
}

#footer p {
}

#footer a {
	color:#aaa;
}

#footer a:hover {
	color:#fff;
}