<head>
  <title>Die Sieben Raben</title>
</head>

<body>
  
</body>

<template name="story">
	
	<div class="header"><a href="/"><img src="header.png" /></a></div>
	
	<div id="content">
	
	{{#each panel}}
		<div id="panel{{index}}" class="panel {{num}} {{visible}}">
		{{#each panelContent}}

			{{#if isType "choice"}}
			<a name="{{link}}" class="choice bubble" style="left:{{x}}px; top:{{y}}px" href="#">
			<img src="{{image}}_choice.png" />
			<p style="width: {{width}}px; padding:{{padding}};">{{text}}</p>
			</a>
			{{/if}}

			{{#if isType "speech"}}
			<div name="{{link}}" class="speech bubble" style="left:{{x}}px; top:{{y}}px;" href="#">
			<img src="{{image}}.png" />
			<p style="width: {{width}}px; padding:{{padding}};">{{text}}</p>
			</div>
			{{/if}}

			{{#if isType "image"}}
			<img src="{{name}}.png" />
			{{/if}}

		{{/each}}
		</div>
	{{/each}}

	
	</div>

	<div id="footer"><p>Created by Jón Kristinsson (<a href="https://twitter.com/jonkristinsson">@jonkristinsson</a>)</p></div>

</template>

<template name="home">
	<h1>HOME!</h1>
</template>

<template name="stats">
<div class="header"><a href="/"><img src="header.png" /></a></div>
<div id="content">
<p class="stats">Games Started: {{start}}</p> 
<p class="stats">Games Finished: {{finish}}</p>
</div>
</template>
